# editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[**.{js,json,md}]
insert_final_newline = true

[**.html]
insert_final_newline = false

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
