npm-debug.log
dump.rdb
node_modules
node_modules/**
npm-shrinkwrap.json
.DS_Store
*/.DS_Store
*/*/.DS_Store
._*
*/._*
*/*/._*
coverage.*
config.js
vault.json
.idea
lib/static/dist
lib/dist
dist
.aws
.aws.json
